.article {
  max-width: 700px;
  padding: 0px 10px 30px;
  margin: 0px auto;
}
.articleTitle {
  font-size: 34px;
  font-weight: 700;
  line-height: 50 / 34 * 100%;
  margin: 0px 0px 30px 0px;
}
.articleInfo {
  display: flex;
  margin: 0px 0px 20px 0px;
}
.articleYear {
  display: flex;
  align-items: center;
  color: #fff;
  background: #ff7c7c;
  border-radius: 16px;
  height: 25px;
  padding: 0px 10px;
  font-size: 18px;
  font-weight: 900;
}
.articleCategory {
  align-self: center;
  font-size: 20px;
  line-height: 29 / 20 * 100%;
  margin: 0px 0px 0px 25px;
}
.articleText p {
  margin: 0px 0px 20px 0px;
  font-size: 16px;
  line-height: 24 / 16 * 100%;
  color: #21243d;
}
.articleText img {
  max-width: 100%;
  margin: 0px 0px 20px 0px;
}
@media (max-width: 767.98px) {
  .articleTitle {
    font-size: 30px;
  }
  .articleCategory {
    font-size: 18px;
  }
}
